<section class="console-card active" data-card="card-{{cardIndex}}" ng-class="{selected:isSelected(cardIndex)}" hotkey-layout-card>
    <div class="card-top" ng-click="performFlyout('card-'+cardIndex)">
        <div class="card-image">
            <img src="{{obj.Product_Family_Image__c}}"/>
        </div>
        <div>
            <h2 tooltip-placement="bottom" tooltip="{{obj.Name}}">
                {{obj.Product2.Family}} {{obj.Product2.%vlocity_namespace%__SubType__c}}
            </h2>
        </div>
        <span class="account-number">{{obj.Name}}</span>
        <span ng-if="obj.Status == 'Warning'" class="warning">
            <i tooltip="Outage Detected" class="icon icon-v-warning-cirlce"></i>
            {{obj.Status}}
        </span>
        <span ng-if="obj.Status == 'Active'" class="active">
            {{obj.Status}}
        </span>
        <span ng-if="obj.Status != 'Warning' && obj.Status != 'Active'" class="good">
            {{obj.Status}}
        </span>
        
    </div>
    <div class="card-info">
        <ul class="actions">
            <li ng-repeat="action in data.actions | limitTo: (data.limitActionLinksTo?data.limitActionLinksTo:5)">
                <a href="#" ng-click="performAction(action)" hotkey-card-action>
                    <i ng-if="!action.imageRef" class="icon {{action.vlocityIcon}}"></i>
                    <span ng-if="action.imageRef">
                        <img ng-src="{{action.imageRef}}" alt="{{action.displayName}}"/>
                    </span>
                    <span>{{action.displayName}}</span>
                </a>
            </li>
        </ul>
        <ul class="details">
            <li class="detail" ng-repeat="field in data.fields" ng-show="key != 'attributes'">
                <span class="detail-label">{{field.label}}</span>
                <span class="value" ng-if="!obj[field.relationshipName]">
                    {{obj | getter: field | picker: field.type}}
                </span>
                <span class="value" ng-if="obj[field.relationshipName]">{{obj[field.relationshipName]['Name']}}</span>
            </li>
        </ul>
    </div>
</section>