.asset-detail-charts-container  {
    background-color: #f2f2f2;
}
.asset-detail-charts-container .slds-card {
    min-width:100%;
}

.asset-detail-charts-container .slds-card .slds-card__header a {
    font-size: 0.6rem;
}
 
@keyframes spin {
  to { transform: rotate(.5turn); }
}

@keyframes bg {
  50% { background:  #d8dde6; }
}

.pie {
  width: 70vw; 
  height: 70vw;
  border-radius: 50%;
  background: #4bdddb;
  background-image:
  linear-gradient(to right, transparent 50%, #d8dde6 0);
}

.pie:before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 50s linear infinite,
             bg 100s step-end infinite;
  animation-play-state: paused;
  animation-delay: inherit;
  transform: translate3d(0,0,0)
}

.pie-hole {
    width: 60vw; 
    height: 60vw;
    border-radius: 50%;
    background: #fff;
    margin-top: 5vw;
    margin-left: 5vw;
}

@media (min-width:64em) {
    .pie {
        width: 20vw; 
        height: 20vw;
    }
    .pie-hole {
        width: 15vw; 
        height: 15vw;
        margin-top: 2.5vw;
        margin-left: 2.5vw;
    }
}