@import "variables";

.vlocity {
    .vloc-action-grid {
        background-color: $white;
        padding:0px;
        
        &:after {
            clear: both;
            content:'';
            display: block;
        }
        .vloc-action-grid-cell {
            padding-left: 0px;
            margin: auto;
            min-width: 50px;
            float: left;
            margin-right: 5px;
            overflow:hidden;
            border-radius:3px;
            
        }
        
        a {
            background-color: #F4F6F9 !important;
            display: block;
            height: 35px;
            max-width: 300px;
            text-align: center;
            cursor: pointer;
            color: #16325C !important;
            overflow: hidden;
            text-decoration: none;
            border: 1px solid #d8dde6 !important;
            padding: 0px 10px;
            line-height: 33px;
            
          
            i, p {
              color: #16325C !important;
            }
          
            i {
                font-size: 20px;
                float: left;
                padding-top: 7px;
                position: relative;
                right: 5px;
            }
          
            p {
              text-transform: capitalize;
              display:table;
              
            }
            
            &:hover, &:active, &:focus {
                background: $light-blue;
                text-decoration: none;
                i,p {
                    color: $white;
                    text-decoration: none;
                }
            }
          
        }
    }
}