.THIS .modalSubHeader{
    margin: 0px 68px;
    font-family:t(textFont);
    font-size:18px;
    font-weight:t(fontWeightRegular);
}
.THIS .modalButton{
     min-width:49%;
     min-height:3.37rem;
}
.THIS .disableButton{
    background-color:t(colorGrayLight)!important;
    border-color:t(colorGrayLight);
    text-align:center;
    border-radius:25px !Important;
    min-width:49%;
    text-transform:uppercase;
    min-height:3.37rem;
    font-size:14px;
    font-weight:t(fontWeightSemiBold);
    font-family:t(headingFont);
    color:white;
}
.THIS .slds-button_brand:disabled:hover{
     background-color:t(colorGrayLight)!important;
}
.THIS .accountInputs{
    margin:auto;
    width:380px;
}
.THIS .inputs{
    margin:auto;
    width:64%;
}
/*.THIS .stateSelect{
    
    width:50%;
}*/
.THIS .stateSelect .slds-select{
    width:179px;
}
.THIS .stateSelect .slds-form-element__label{
    padding-left:.25rem;
}
.THIS .zipInput{
    margin:auto;
    width:180px;
}
.THIS .slds-input, .THIS .slds-select{
    border:none;
    border-bottom:1px solid t(colorGrayDark);
}
.THIS .slds-form-element__label{
    text-align:left!important;
    text-transform: uppercase;
    display:block;
}
.THIS .custom-position {
    position:relative;
}
.THIS .img img{
    width:314px !important;
}
.THIS .slds-popover__body{
    background-color:t(colorWhite); 
    font-size: 12px; 
    line-height:1.5; 
    padding: 0 14px; 
    text-align:left;
}
.THIS .slds-popover__close{
    margin:.5rem 0rem;
}
.THIS .slds-popover{
    width: 380px;
}
.THIS .slds-nubbin_top-right{
    background-color: t(colorBrandInfoLight);
}
.THIS .slds-nubbin_top-right:before, .THIS .slds-nubbin--top-right:before, .THIS .slds-nubbin_top-right-corner:before{
    background-color:transparent;
}
.THIS .slds-button {
    position:relative;
}
.THIS #tooltip{
    position:absolute; 
   	top: 32px;
    left: -345px;
    margin: 0 !important;
    border-top:5px solid #015e9f;  
}
.THIS .slds-input-has-icon .slds-input__icon{
    top:45%;
    width: 1.5rem;
}
.THIS .accountInputs .slds-input-has-icon .slds-input__icon{
    top:44% !important;
}
.THIS .errorIcon svg{
    fill:t(colorBrandPrimaryDark);
}
.THIS .slds-has-error .slds-form-element__help{
    color:t(colorBrandPrimary);
    text-align:left;
    font-style:italic;
}
.THIS .center-design {
    width: 70%;
    margin:auto;
}
.THIS .slds-form-element__icon{
    padding-top:.15rem;
}
/* iPhone 5 & 5S in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 374px) {
    .THIS .center-design {
        width: 100%;
    }
    .THIS .slds-popover {
        width:290px;
    }
    .THIS #tooltip {
        left: -163px;
        
    }
    .THIS .slds-nubbin_top-right::after{
        left:171px;
    }
    .THIS .accountInputs {
        width:100%;
    }
	 /* -- Modal Container width and margin for iPhone 5 -- */
	.THIS .slds-modal__container {
        width: 95.5%!important;
        margin: 7px 10px 7px 7px;
   	}
    .THIS .modalButton{
        min-width:290px;
   }
	 /* ———— Modal Content container negative margin to prevent separation from header and content padding for forms ———— */
	 .THIS .slds-modal__content {
        margin-top: -3px;
        padding: 0 1rem 4rem 1rem;
	 }
    
	/* -- Modal Heading Font size for iPhone 5 -- */
    .THIS .slds-text-heading_medium {
        font-size: 20px;
    }
    
   	/* -- Modal Sub-header font size and padding for iPhone 5 -- */
    .THIS .modalSubHeader {
        font-size: 14px;
        margin: 0 -9px;
    }

    /* -- Modal button width for mobile -- */
    .THIS .disableButton,
    .THIS .modalButton {
        min-width: 100%;
    }

}

@media only screen and (min-device-width : 360px) and (max-device-width : 374px) {
    .THIS .slds-popover{
        width: 290px;
    }

    .THIS #tooltip{
        left: -256px;
    }
	.THIS .slds-nubbin_top-right::after{
        left:265px;
    }    
}

/* iPhone X in portrait & landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 767px) {
    .THIS .center-design {
        width: 100%;
    }
    .THIS .accountInputs {
        width:100%;
    }
    .THIS .slds-popover_large {
        max-width: 100%;
    }
    .THIS .modalButton{
        min-width:290px;
    }
	 /* -- Modal Container width and margin -- */
	.THIS .slds-modal__container {
        width: 96.5%!important;
        margin: 7px 10px 7px 7px;
    }
    
	/* ———— Modal Content container negative margin to prevent separation from header and content padding for forms ———— */
   	 .THIS .slds-modal__content {
        margin-top: -3px;
        padding: 0 1rem 4rem 1rem;
    }
    .THIS .slds-popover{
        width: 290px;
    }

    .THIS #tooltip{
        left: -256px;
    }
	/* -- Modal Heading font size -- */
    .THIS .slds-text-heading_medium {
        font-size: 20px;
    }
    
	/* -- Modal Sub-header font size and padding for iPhone 5 -- */
    .THIS .modalSubHeader {
        font-size: 14px;
        margin: 0 19px;
    }
    /* -- Modal button width for mobile -- */
    .THIS .disableButton,
    .THIS .modalButton {
        min-width: 100%;
    }
}

/* iPad Pro in portrait  */
 @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px)  {

	 /* -- Modal Container  margin -- */
	.THIS .slds-modal__container {
        	margin: auto;
    	}
    
	/* -- Modal Content container negative margin to prevent separation from header -- */
    .THIS .slds-modal__content {
        margin-top: -3px;
    }
}

/* iPad in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	
	 /* -- Modal Container  margin -- */
	.THIS .slds-modal__container {
        margin: auto;
    }
    
	/* -- Modal Content container negative margin to prevent separation from header -- */
    .THIS .slds-modal__content {
        margin-top: -3px;
    }
}
.THIS .spins::after {
    position: absolute;
    content: 'PROCESSING';
    width: 100%;
    text-align: center;
    font-family:t(headingFont);
 	top: calc(50% + 2.5em);
   
 }

.THIS .slds-spinner_container{
    background-color:transparent;
}
