.via-slds .via-slds-action-grid-card {
    flex-wrap: wrap;
    .via-icon {
        font-size: 2.5em;
        color: #4F6A92;
    }
    .via-slds-button {
        border-radius: 1px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        p {
            font-size: 16px;
            line-height: 20px;
            color: #4F6A92;
            overflow-wrap: normal;
            margin-top:5px;
        }
    }
    .via-slds-button:hover {
        text-decoration: none;
    }
    .via-action-icon:before {
        font-size: 250%;
    }
    .retail-action{
        width: 25% !important;
        height:100px;
    }
}