.via-slds {
    .vdo-consumer-device-usage {
        border-bottom:1px solid #ccc;
        padding-bottom: 20px;
        .vdo-device-graph {
            max-width:500px;
        }
        .vdo-consumer-device-usage-label {
            color:#333;
            font-size:120%;
        }
        
    }
}